<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Alpha Project</title>
  </head>
  <nav>
    <li><a href="{% url 'login' %}">Login</a></li>
    <li><a href="{% url 'signup' %}">Sign up</a></li>
  </nav>
  <body>
    <main>
      <div>
        <h1>Signup</h1>
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button>Signup</button>
        </form>
      </div>
    </main>
  </body>
</html>
